* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #202020;
  color: white;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 45%;
  }
}

#main-wrapper {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

path,
svg {
  pointer-events: none;
}

h1 {
  font-size: 4.8rem;
  text-align: center;
}

p {
  font-size: 2.2rem;
  text-align: justify;
}

button {
  cursor: pointer;
  height: 6rem;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0);
  border: 4px white solid;
  border-radius: 5rem;
  display: block;
  margin: 6rem auto 0 auto;
  color: white;
  font-size: 2.2rem;
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}

@media screen and (max-width: 1500px) {
  button {
    height: 6rem;
    width: 16rem;
  }
}

button:hover {
  border-color: #00ff66;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
}

.line {
  width: 100%;
  height: 3px;
  z-index: 5;
  background-color: #00ff66;
  margin: 2rem 0;
}

@media screen and (max-width: 1050px) {
  .line {
    height: 2px;
  }
}

.img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  min-height: 10vh;
  padding: 2rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #171717;
  border-bottom: 1px white solid;
  font-size: 2rem;
  z-index: 10;
}

@media screen and (max-width: 1050px) {
  nav {
    padding: 2rem 5vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

#logo {
  max-width: 6rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  min-width: 30vw;
}

.nav li:not(:last-child) {
  margin-right: 5rem;
}

@media screen and (max-width: 1050px) {
  .nav li:not(:last-child) {
    margin: 0;
  }
}

.nav li:after {
  content: '';
  display: block;
  border-bottom: 2px solid #00ff66;
  width: 0%;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.nav li:hover:after {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    background-color: #171717;
    padding: 30vh 0;
    font-size: 4rem;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav.nav-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 750px) {
  .nav {
    width: 100%;
  }
}

.burger {
  display: none;
  stroke: white;
  -webkit-transition: stroke 0.5s ease-in-out;
  transition: stroke 0.5s ease-in-out;
}

.burger.burger-active {
  stroke: #00ff66;
}

@media screen and (max-width: 1050px) {
  .burger {
    display: block;
    z-index: 5;
  }
}

@media screen and (max-width: 1050px) {
  .nav-open-main {
    -webkit-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }
}

@media screen and (max-width: 1050px) and (max-width: 750px) {
  .nav-open-main {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

.hero {
  background-image: url("../img/background.jpg");
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 10rem;
}

@media screen and (max-width: 1050px) {
  .hero {
    padding: 6rem 5vw;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.hero-text h1 {
  font-size: 6rem;
  margin-bottom: 6rem;
}

.hero-img-wrap {
  width: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 750px) {
  .hero-img-wrap {
    width: 100%;
  }
}

.section {
  padding: 6rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
}

@media screen and (max-width: 1050px) {
  .section .img-wrap {
    width: 70rem;
    margin-top: 4rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 750px) {
  .section .img-wrap {
    width: 100%;
  }
}

.section .section-content {
  width: 35vw;
}

.section .section-content p {
  margin: 4rem 0;
}

@media screen and (max-width: 1050px) {
  .section .section-content {
    width: 70rem;
  }
}

@media screen and (max-width: 750px) {
  .section .section-content {
    width: 100%;
  }
}

.section .section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .section-list p {
  margin: 4rem 0 2rem 0;
}

.section .section-list li {
  font-size: 1.8rem;
  margin-left: 2rem;
}

.section .section-list li:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1050px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .section {
    padding: 6rem 5vw;
  }
}

#internship {
  background-color: #171717;
}

#internship .img-wrap {
  height: calc(100vh - 2 * 6rem);
}

#internship h1 {
  text-align: left;
}

@media screen and (max-width: 1050px) {
  #internship h1 {
    text-align: center;
  }
}

.section--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--column .section-content {
  width: 70rem;
}

@media screen and (max-width: 750px) {
  .section--column .section-content {
    width: 100%;
  }
}

.section--column,
.gallery-wrapper {
  background-color: #171717;
}

.gallery-wrapper {
  padding: 6rem 10rem;
}

.gallery-wrapper h1 {
  margin-bottom: 8rem;
}

@media screen and (max-width: 750px) {
  .gallery-wrapper {
    padding: 6rem 5vw;
  }
}

.gallery {
  width: 100%;
  min-height: 40vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  row-gap: 6rem;
}

.gallery img,
.gallery video {
  aspect-ratio: 16/9;
}

@media screen and (max-width: 750px) {
  .gallery {
    padding: 6rem 5vw;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.form-wrapper {
  padding: 6rem 10rem;
}

@media screen and (max-width: 750px) {
  .form-wrapper {
    padding: 6rem 5vw;
  }
}

form {
  width: 50vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form h1 {
  margin: 0 auto;
}

@media screen and (max-width: 1050px) {
  form {
    width: 70rem;
  }
}

@media screen and (max-width: 750px) {
  form {
    width: 100%;
  }
  form h1 {
    margin: 2rem auto;
  }
}

label {
  margin: 2rem 0 0 0;
  font-size: 3rem;
}

input,
textarea {
  padding: 1.5rem 0;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px white solid;
  font-size: 2.2rem;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

input:hover, input:focus,
textarea:hover,
textarea:focus {
  border-color: #00ff66;
}

textarea {
  border-bottom: 3px white solid;
  margin-top: 1.5rem;
}

#form-status {
  font-size: 3rem;
  margin: 4rem auto 0.5rem auto;
  border-bottom: 2px solid;
  display: none;
}

#form-status.active {
  display: block;
}

.error {
  color: #ff002f;
  border-color: #ff002f;
}

.error:hover, .error:focus {
  color: #ff002f;
  border-color: #ff002f;
}

.error #form-status {
  color: blue !important;
}

.success {
  color: #00ff66;
  border-color: #00ff66;
}

.success:hover, .success:focus {
  color: #00ff66;
  border-color: #00ff66;
}

#form-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.form-hidden {
  display: none;
}

footer {
  min-height: 10vh;
  padding: 2rem 10rem;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 2rem 5vw;
  }
}
/*# sourceMappingURL=main.css.map */